*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

input[type=text]{
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid rgb(76, 85, 77); /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin: auto;
    resize: vertical
    
}

.logo{
    width: 700px;
    cursor: pointer;
}

.navbar{
    width: 30%;
    margin: auto;
    padding: 35px 0;
    
    justify-content: center;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    
    

}


.inputFields {
    margin: 20px auto ;
    font-size: 16px;
    padding: 10px;
    width: 600px;
    border: 5px solid rgba(10, 180, 180, 1);
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(20, 20, 20, .2);
    color: rgb(74, 160, 100);
    outline: none;
    
  }

  .signupForm {
    width: 60%;
    padding: 90px 0;
    transition: .2s;
    display: flex;
    justify-content: center;
    
    
  }

  .noBullet {
    list-style-type: none;
    padding: 0px;
    
  }

  
  

  .info {
    width: 45%;
    background: rgba(20, 20, 20, .8);
    padding: 30px 0;
    border-right: 5px solid rgba(30, 30, 30, .8);
    
  }

  